* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #e9e9e9;
}

.login-page {
  max-width: 300px;
  padding: 16px;
  left: 77%;
  right: 0;
  top: 95px;
  position: absolute;
  text-align: center;
  border: 1px solid #e9e9e9;
  background-color: #fff;
  z-index: 1;
  border-radius: 10px;
  display: none;
}

.logout-page {
  max-width: 100px;
  padding: 12px;
  left: 90%;
  right: 0;
  top: 60px;
  position: absolute;
  text-align: center;
  border: 1px solid #e9e9e9;
  background-color: #fff;
  z-index: 1;
  border-radius: 10px;
  display: none;
}

.label-logout {
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}

.label-login {
  font-size: 20px;
}

.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-control {
  width: 80%;
}

.btn-login {
  width: 86%;
  background-color: #0D4ADA;
  color: #e9e9e9;
  padding: 4px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  height: 30px;
}

.btn-success {
  width: 10%;
  background-color: #218838;
  color: #e9e9e9;
  padding: 4px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  height: 30px;
}

.mb-2 {
  margin-bottom: 20px;
}

.text-logo {
  font-size: 40px;
  color: #0D4ADA;
}

.dont-any-account {
  font-size: 14px;
  margin-top: 14px;
}

.search-input {
  border: 1px solid #0D4ADA;
  padding: 10px;
  border-radius: 10px;
  margin-right: 14px;
}

.custom-icon-login {
  font-size: 20px;
  color: #848484;
  margin-right: 10px;
}

.wrapper-navbar-left {
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-icon-login:hover+.login-page {
  display: block;
}

.search-input:focus {
  outline: none;
}

.form-control {
  border: 1px solid #848484;
  padding: 10px;
  border-radius: 10px;
}

.form-control:focus {
  outline: none;
}

.content-wrapper {
  padding: 40px 32px 0px 32px;
}

.section-label {
  font-size: 20px;
  padding: 5px;
}

.border-separator {
  border-bottom: 1px solid #e9e9e9;
  position: relative;
}

.d-flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blue-box {
  top: 0;
  left: 0;
  width: 120px;
  height: 1px;
  background-color: #7d7de1;
  position: absolute;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 10px;
  overflow: hidden;
  width: 300px;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-content h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.publish-user {
  display: flex;
  align-items: center;
  padding: 10px;
}

.publish-user img {
  width: 30px;
  border-radius: 100%;
}

.user-profile p {
  margin-bottom: 0px;
}

.btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #0056b3;
}

/* Tabel Style */
.table-container {
  width: 80%;
  margin: 32px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 8px 12px;
  border: 1px solid #ccc;
}

/* Tombol Aksi Style */
.edit-btn,
.delete-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
}

.edit-btn:hover,
.delete-btn:hover {
  color: #555;
}

.edit-btn i,
.delete-btn i {
  font-size: 16px;
}

.edit-btn {
  color: blue;
  margin-right: 5px;
}

.delete-btn {
  color: red;
}

.add-form {
  display: flex;
  flex-direction: column;
}

.container-article {
  max-width: 700px;
  margin: 50px auto;
  background-color: #fff;
  /* Warna background kontainer */
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #cecece;
}

.container-article h2 {
  text-align: center;
  margin-bottom: 20px;
}

.container-article .form-control {
  margin-bottom: 15px;
}

.form-control-custom label {
  font-weight: bold;
}

.form-control-custom {
  margin-bottom: 20px;
}

.container-article input[type="text"],
.container-article input[type="email"],
.container-article input[type="password"],
.container-article input[type="date"],
.container-article input[type="file"] {
  width: 100%;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

.form-control-custom textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

.btn-save {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #0D4ADA;
  /* Warna tombol */
  color: #fff;
  cursor: pointer;
}

.btn-save:hover {
  background-color: #6389e3;
  /* Warna tombol saat dihover */
}

.btn-back {
  width: 20%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #a6a6a6;
  /* Warna tombol */
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 10px;
}

.alert-warning {
  padding: 10px;
  background-color: #F8D7DA;
  margin-top: 17px;
  color: #9D2E24;
  border-radius: 10px;
}

.alert-success {
  padding: 10px;
  background-color: #D4EDDA;
  margin-top: 17px;
  color: #155724;
  border-radius: 10px;
}

.clamp-line-options {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-wrapper-detail-article {
  max-width: 60%;
  margin: 32px auto;
}